name: CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest flake8
          pip install -r starter/requirements.txt

      - name: Run flake8
        run: flake8 starter --count --select=E9,F63,F7,F82 --show-source --statistics

      - name: Run pytest
        working-directory: starter
        run: |
          export PYTHONPATH=$PYTHONPATH:.
          python -m pytest -v